body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-align: center;
   
}

main {
    width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 26px;
    margin: 20px auto;
    position: relative;
    height: 90vh;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

button {
    margin-top: 20px;
    cursor: pointer;
    width: 200px;
    height: 200px;
    padding: 16px;
    border-radius: 100%;
    color: white;
    background-color: red;
    border: none;
    font-size: 1rem;
    font-weight: 700;

    position: absolute;
    right: auto;
    left: auto;
    bottom: 4em;

    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

p {
    font-size: 2rem;
}

button:hover {
    transform: scale(120%);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:active {
    transform: scale(80%);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}